# Node.js (server) specific ignores
server/node_modules/
server/logs/
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/.env
server/dist/
server/build/
server/coverage/

# React (client) specific ignores
client/node_modules/
client/build/
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.DS_Store
client/coverage/

# Common ignores for both client and server
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
build/
coverage/
.DS_Store

# IDE settings
.idea/
.vscode/
.vs/

# System files
Thumbs.db
