.dashboard__container {
    width: 100%;
    padding: 0 40px;
}
.config-mouse {
    pointer-events: none;
}
.mt-24 {
    margin-top: 24px;
}
.mt-8 {
    margin-top: 8px;
}
.mb-16 {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}
.hover {
    transition: box-shadow 0.3s;
}
.hover:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.config-align {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
